/* ===================== TAG SELECTORS ===================== */

body {
    margin: 0;
    text-align: center;
    background-color: #393053;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

span {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    text-decoration: none;
}


/* ===================== CLASS SELECTORS ===================== */

/* Containers */
.top-container {
    background-color: #18122B;
    position: relative;
}

.gradient-container {
    background-image: linear-gradient(#18122B, #393053);
}

/* Generic Classes */
.section-title {
    margin: 0;
    padding-top: 120px;
    padding-bottom: 80px;
    color: #66BFBF;
    font-size: 4rem;
    font-weight: 900;
}

/* Website head */

.head {
    background-color: #18122B;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.home {
    float: left;
    margin: 0;
}

.header-name {
    letter-spacing: 2px;
    font-size: 1.2em;
}

.header-link {
    padding: 4px 8px;
}

.header-link:hover{
    background-color: #393053;
    border-radius: 20px;
}

.website-shortcut {
    float: right;
    margin-right: 30px;
}

.header-shortcuts {
    font-weight: 600;
}

/* Website intro */

.title {
    font-family: 'Sacramento', cursive;
    margin: 0;
    font-size: 6rem;
    line-height: 0.8;
    color: #66BFBF;
    padding-top: 17%;
}

.subtitle {
    font-family: 'Chivo Mono', monospace;
    margin-top: 0;
    color: #66BFBF;
    font-size: 1.25rem;
    position: relative;
    top: 30.5%;
}

.blue-planet {
    scale: 1;
    margin-top: 5%;
    padding-bottom: 50px;;
}

.green-planet {
    position: absolute;
    scale: 0.5;
    left: 50%;
    bottom: 15%;
}

.purple-planet {
    position: absolute;
    scale: 0.5;
    left: calc(50% - 480px);
    bottom: -5%;
}

.white-icon {
    filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(60deg) brightness(105%) contrast(105%);
}

.intro-astronaut {
    position: absolute;
    scale: 0.8;
    left: 10%;
    bottom: 30%;
}

.intro-galaxy {
    position: absolute;
    right: 7%;
    top: 10%;
    transform: rotate(-10deg);
}

.intro-mortar {
    position: absolute;
    right: 12%;
    bottom: 10%;
    transform: rotate(5deg);
}

.intro-coding {
    position: absolute;
    left: 20%;
    bottom: 0%;
    transform: rotate(-10deg);
}

.intro-dna {
    position: absolute;
    scale: 0.6;
    left: 5%;
    bottom: 12%;
    transform: rotate(8deg);
}

.intro-computer {
    position: absolute;
    scale: 0.6;
    right: 7%;
    bottom: 25%;
    transform: rotate(-7deg);
}

/* Skills */

.skills-gradient {
    background-image: linear-gradient(#393053, #443C68);
}

.skills-container {
    width: 33%;
    float: left;
}

.skills-image {
    border-radius: 100%;
    background-color: #66BFBF;
    padding: 10px;
    right: 200px;
    margin: 0 auto;
}

.skills-subtitle {
    color: #66BFBF;
}

.skills-text {
    color: white;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 70px;
    line-height: 1.7;
}

/* Education */

.education-container {
    width: 80%;
    margin: 0 auto;
    line-height: 2;
    padding-bottom: 100px;
}

.education-img-container {
    display: inline-block;
    padding-top: 15px;
}

.education-img {
    border-radius: 200%;
    background-color: #66BFBF;
    padding: 10px;
}

.education-text-right {
    text-align: left;
    float: right;
    width: 70%;
}

.education-text-left {
    text-align: right;
    float: left;
    width: 70%;
}

/* Courses */

.courses-list {
    position: relative;
    padding: 0;
    list-style: none;
}

.courses-list:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(50% - 7px);
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.list-element {
    padding-bottom: 250px;
}

.courses-img-container {
    position: absolute;
    right: calc(50% - 80px);
}

.courses-img {
    border-radius: 200%;
    background-color: #66BFBF;
    padding: 10px;
    margin-right: 41%;
}

.courses-panel-left {
    float: left;
    position: relative;
    text-align: right;
    width: 42%;
}

.courses-panel-right {
    float: right;
    position: relative;
    text-align: left;
    width: 40%;
}

.courses-text-left {
    width: 90%;
    margin: 0 10%;
}

.courses-text-right {
    width: 90%;
}

.list-last {
    margin-bottom: 100px;
}

/* Contact Me */

.contact-container {
    margin-top: 100px;
    background-color: #18122B;
    position: relative;
    padding-bottom: 170px;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-info-container {
    background-color: #393053;
    position: relative;
    width: 340px;
    top: 20px;
    left: 5%;
    border-radius: 25px;
    float: left;
}

.contact-list {
    list-style: none;
    margin: 0;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.email:hover {
    filter: invert(8%) sepia(28%) saturate(1515%) hue-rotate(215deg) brightness(97%) contrast(99%);
}

.contact-img {
    display: inline;
    vertical-align: middle;
    filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(60deg) brightness(105%) contrast(105%);
    padding-bottom: 4px;
}

.contact-text {
    margin: 0;
    display: inline-block;
    padding-left: 3px;
    color: white;
}

.astronaut-container {
    position: absolute;
    left: calc(50% - 55px);
}

.astronaut-img {
    margin: 0;
    scale: 0.7;
    filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(60deg) brightness(105%) contrast(105%);
}

.contact-icons-container {
    background-color: #393053;
    position: relative;
    width: 268px;
    top: 35px;
    right: 5%;
    border-radius: 25px;
    float: right;
}

.contact-icon-img {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    float: right;
    filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(60deg) brightness(105%) contrast(105%);
}

.contact-icon-img:hover {
    filter: invert(8%) sepia(28%) saturate(1515%) hue-rotate(215deg) brightness(97%) contrast(99%);
}

.footer-att {
    position: absolute;
    top: 70%;
    left: calc(50% - 40px);
}

.footer-att:hover {
    color: gray;
}

.footer-ass {
    position: absolute;
    top: 85%;
    left: calc(50% - 90px);
    margin: 0;
}

/* Atributions */

.att-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 4em;
}

.credit-data {
    width: 10%;
    padding: 20px;
}

.credit-table {
    margin: 0 10%;
}